<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Painel Receita</title>
        <link rel="stylesheet" href="/frontend/static/dashboard_income.css" />
    </head>
    <body>
        <div class="container receita-ativa">
            <div class="filtros">
                <a class="a-voltar" href="home.html">Voltar</a>
                <a class="a-geral" href="dashboard_geral.html">Painel Geral</a>
                <a class="a-receitas" href="dashboard_income.html">Painel Receita</a>
                <a class="a-dispesas" href="dashboard_expenses.html">Painel Despesas</a>
            </div>

            <div class="graficos">
                <div class="grafico-barra">
                    <canvas id="graficoBarrasReceita"></canvas>
                </div>
                <div class="grafico-pizza">
                    <canvas id="graficoPizzaReceita"></canvas>
                    <div class="legenda">
                        <span><span class="quadrado verde"></span>Receitas</span>
                    </div>
                </div>
            </div>

            <div class="navegacao-mes">
                <button>&larr;</button>
                <span>Junho</span>
                <button>&rarr;</button>
            </div>

            <div class="tabela">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Data</th>
                            <th>Valor</th>
                            <th>Descrição</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>20/03/2025</td>
                            <td>R$ 657,46</td>
                            <td>Compras do supermarket</td>
                            <td>
                                <button class="editar">Editar</button>
                                <button class="excluir">Excluir</button>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>16/09/2025</td>
                            <td>R$ 123,46</td>
                            <td>Compras do supermarket</td>
                            <td>
                                <button class="editar">Editar</button>
                                <button class="excluir">Excluir</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="paginacao">
                <button>&larr;</button>
                <span>1</span>
                <button>&rarr;</button>
            </div>
        </div>
    </body>
</html>
