<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Painel Geral</title>
        <link rel="stylesheet" href="/frontend/static/home.css" />
        <script src="https://kit.fontawesome.com/dd069937d0.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <header class="top-bar">
                <a class="add-form" href="form_finance.html">+</a>
                <nav class="menu">
                    <a class="a-geral" href="dashboard_geral.html">Painel Geral</a>
                    <a class="a-receitas" href="dashboard_income.html">Painel Receita</a>
                    <a class="a-despesas" href="dashboard_expenses.html">Painel Despesas</a>
                </nav>
                <div class="user">
                    <span>Depre@User</span>
                    <i class="fa-solid fa-circle-user"></i>
                </div>
            </header>

            <main class="main-panel">
                <div class="valor-atual">
                    <h2>Valor Atual</h2>
                    <p class="valor verde">R$ 240,00</p>
                </div>

                <div class="valores-secundarios">
                    <div class="valor-box verde">
                        <h3>Valor Ganho</h3>
                        <p>R$ 200,00</p>
                    </div>
                    <div class="valor-box vermelho">
                        <h3>Valor Gasto</h3>
                        <p>R$ 40,00</p>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
